@font-face {
	font-family: BebasNeueBold;
	src: url("../fonts/BebasNeueBold.ttf");
  }
  @font-face {
	font-family: MontserratAlternates-Regular;
	src: url("../fonts/MontserratAlternates-Regular.ttf");
  }

i{
	font-size: 14px;
  	color: #43AFE2 !important;
}
body{
	background-image: url("../images/destop-background-new.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
body .navbar{
	border: 0px solid transparent;
	margin-bottom: 0px;
	font-family: BebasNeueBold;
}
.navbar div a img{
	width: 130px;
	padding-top: 35px;
}
.navbar div a{
	font-size: 25px;
	display: flex;
	align-items: center;
	color: black;
	margin-top: 15px;
}
.hamburger-menu{
	display: inline-block;
	z-index: 9;
}
.span-1,
.span-2,
.span-3{
	width: 18px;
	height: 2px;
	background-color: black;
	margin-right: 10px;
}
.span-2{
	margin-top: 4px;
	margin-bottom: 4px;
}
.menu{
	position: relative;
}
.menu ul{
	/*display: none;*/
}
.menu .menu-dropdown{
	height: 100vh;
	position: absolute;
	width: 100%;
	background-color: #1D1D1B;
	color: white;
	padding: 30px;
	z-index: 1;
}
.menu-show,
.menu-hide{
	cursor: pointer;
	transition: 0.3s;
	color: lightgray;
}


.menu .menu-dropdown{
	display: none;
}
.menu .menu-dropdown a{
	color: white;
}
.menu-hide{
	border: 2px solid transparent;
	padding: 7px;
}
.menu-hide:hover{
	border: 2px solid #43AFE2;
}
.menu-inner div{
	display: inline-block;
	position: relative;
}
.menu .menu-dropdown ul{
	list-style: none;
}
.menu .menu-dropdown h1{
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	margin: 0;
}
.line-h1{
	transition: 0.9s;
	z-index: 1;
	left: 0;
}
.menu .menu-dropdown .menu-inner h1:hover ~ .line-h1{
	width: 100%;
	height: 3px;
	background-color: #43AFE2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.menu .menu-dropdown .menu-inner .line-h1:hover{
	width: 100%;
	height: 3px;
	background-color: #43AFE2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.pd-bottom{
	padding-left: 10px;
	padding-bottom: 13vh;
}


.contact{
	color:  #43AFE2;
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.contact i{
	border: 1px solid #43AFE2;
	padding: 4px;
	border-radius: 50%;
}
.contact a{
	color: #43AFE2 !important;
	text-decoration: none;
	font-size: 14px !important;
}
.contact i:hover{
	cursor: pointer;
}
.contact a{
	display: inline-block !important;
}

/*MOBILE NAVBAR*/
.wrap-mobile-navbar{
	height: 100vh;
	position: fixed;
	width: 100%;
	z-index: 7;
	top: 0;
	display: none;
}
.mobile-navbar{
	background-color: black;
	height: 100%;
	opacity: 0.93;
	/*margin-top: 55px;*/
	z-index: 8;
}
.mobile-navbar ul{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	padding: 0;
}
.mobile-navbar ul li{
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
}
.mobile-navbar h1{
	margin: 0;
}


/*WRAP ABOUT US*/

.wrap-contact{
	display: none;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
.wrap-contact h1 span{
	padding: 10px;
	border-bottom: 2px solid #43AFE2;
	font-family: BebasNeueBold;
}
.wrap-contact .inner-contact{
	padding-top: 30px;
	font-family: BebasNeueBold;
}
.form-group div{
	padding-top: 15px;
}
.wrap-contact button{
	background-color: #43AFE2;
	color: white;
}
.form-group a{
	color: #43AFE2;
}

.wrap-contact .contact-bottom{
	color:  #43AFE2;
	font-size: 18px;
}
.wrap-contact .contact-bottom i{
	border: 1px solid #43AFE2;
	padding: 4px;
	border-radius: 50%;
	margin-top: 20px;
}
.wrap-contact .contact-bottom i:hover{
	cursor: pointer;
}
.form-group{
	font-family: BebasNeueBold;
}

@media screen and (min-width: 991px){
	.wrap-mobile-navbar{
		display: none !important;
	}
}
@media screen and (max-width: 991px){
	/*MOBILE NAVBAR*/
	.menu-desktop{
		display: none !important;
	}
	.mobile-navbar{
		display: block;
	}
	.navbar div a{
		justify-content: space-around;
	}
	.pd-bottom{
		margin-top: 20px;
		padding-bottom: 4vh;
	}
	.display-flex-menu h1{
    	font-size: 29px;
  	}
  	.navbar div a img{
		width: 100px;
		padding-top: 10px;
	}
	.wrap-contact{
		position: relative;
		top: 0%;
		transform: translateY(0%);
	}
}

/*@media screen and (max-height: 1024px){
	body{
		background-image: url("images/destop-background-portrait.png");
	}
}*/