@font-face {
	font-family: BebasNeueBold;
	src: url("../fonts/BebasNeueBold.ttf");
  }
  @font-face {
	font-family: MontserratAlternates-Regular;
	src: url("../fonts/MontserratAlternates-Regular.ttf");
  }

i{
	font-size: 14px;
  	color: #43AFE2 !important;
}
body{
	background-image: url("../images/destop-background-new.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
.center-position{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
body .navbar{
	border: 0px solid transparent;
	margin-bottom: 0px;
	font-family: BebasNeueBold;
	letter-spacing: 1px;
}
.navbar div a img{
	width: 130px;
	padding-top: 35px;
}
.navbar div a{
	font-size: 25px;
	display: flex;
	align-items: center;
	color: black;
	margin-top: 15px;
}
.hamburger-menu{
	display: inline-block;
}
.span-1,
.span-2,
.span-3{
	width: 18px;
	height: 2px;
	background-color: black;
	margin-right: 10px;
}
.span-2{
	margin-top: 4px;
	margin-bottom: 4px;
}
.menu{
	position: relative;
}
.menu ul{
	/*display: none;*/
}
.menu .menu-dropdown{
	height: 100vh;
	position: absolute;
	width: 100%;
	background-color: #1D1D1B;
	color: white;
	padding: 30px;
	z-index: 1;
}
.menu-show,
.menu-hide{
	cursor: pointer;
	transition: 0.3s;
	font-family: BebasNeueBold !important;
}


.menu .menu-dropdown{
	display: none;
}
.menu .menu-dropdown a{
	color: white;
}
.menu-hide{
	border: 2px solid transparent;
	padding: 7px;
	font-family: Arial;
	color: lightgray;
}
.menu-hide:hover{
	border: 2px solid #43AFE2;
}
.menu-inner div{
	display: inline-block;
	position: relative;
}
.menu .menu-dropdown ul{
	list-style: none;
}
.menu .menu-dropdown h1{
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	margin: 0;
}
.line-h1{
	transition: 0.9s;
	z-index: 1;
	left: 0;
}
.menu .menu-dropdown .menu-inner h1:hover ~ .line-h1{
	width: 100%;
	height: 3px;
	background-color: #43AFE2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.menu .menu-dropdown .menu-inner .line-h1:hover{
	width: 100%;
	height: 3px;
	background-color: #43AFE2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.pd-bottom{
	padding-left: 10px;
	padding-bottom: 13vh;
}


.contact{
	color:  #43AFE2;
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.contact i{
	border: 1px solid #43AFE2;
	padding: 4px;
	border-radius: 50%;
}
.contact i:hover{
	cursor: pointer;
}
.contact a{
	display: inline-block !important;
}

/*MOBILE NAVBAR*/
.wrap-mobile-navbar{
	height: 100vh;
	position: fixed;
	width: 100%;
	z-index: 7;
	top: 0;
	display: none;
}
.mobile-navbar{
	background-color: black;
	height: 100%;
	opacity: 0.93;
	/*margin-top: 55px;*/
	z-index: 8;
}
.mobile-navbar ul{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	padding: 0;
}
.mobile-navbar ul li{
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
}
.mobile-navbar h1{
	margin: 0;
}




/*LEFT SIDE*/
.left-side-home{
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px 0 0;
}
.left-side-home button{
	color: white;
	background-color: #43AFE2;
	border-radius: 20px;
	display: none;
}
.left-side-home .left-side-text{
	font-family: MontserratAlternates-Regular;
	display: none;
}
.left-side-home h1{
	font-size: 60px;
	font-family: BebasNeueBold;
	letter-spacing: 1px;
	opacity: 0;
	transition: 3s;
	position: relative;
	margin: 0;
}
.left-side-home h1 i{
	transform: rotate(-45deg);
	color: #43AFE2;
	font-size: 
}

.left-side-home h1 p{
	margin: 0;
}
.slide-h1{
	background-color: #43AFE2;
	z-index: 1;
	position: absolute;
	right: 0;
	height: 100%;
	width: 100%;
}
.slide-h2{
	background-color: #43AFE2;
	z-index: 1;
	position: absolute;
	right: 0;
	height: 100%;
	width: 100%;
}
.slide-h3{
	background-color: #43AFE2;
	z-index: 1;
	position: absolute;
	right: 0;
	height: 100%;
	width: 100%;
}
.quote-hide {
  display: none;
}


/*RIGHT SIDE*/
.right-side-home{
	display: none;
}
.right-side-home .boxes{
	height: 80vh;
	display: flex;
	justify-content: space-between;
	font-family: BebasNeueBold;
}
.right-side-home .boxes .box{
	height: 100%;
	width: 18%;
	background-color: #EDEDED;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.36);
	-moz-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.36);
	box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.36);
	padding-bottom: 15px;
	/*opacity: 0;*/
}
.inner-box{
     height: 50%;
     width: 100%;
     background-size: cover;
     background-position: center;
     transition: all 1s ease;
     flex: 1;
}
.box:hover .inner-box{
     transform: scale(1.3);
}
.right-side-home .boxes .box p{
	font-size: 60px;
	transform: rotate(180deg);
	writing-mode: vertical-lr;
	flex: 1;
	padding-bottom: 30px;
}

/*IMAGES HOME PAGE*/
.right-side-home .boxes .box .img-1,
.right-side-home .boxes .box .img-2,
.right-side-home .boxes .box .img-3,
.right-side-home .boxes .box .img-4,
.right-side-home .boxes .box .img-5{
	height: 100%;
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
}

.right-side-home .boxes .box .img-1{
	background-image: url("../images/big1.png");
}
.right-side-home .boxes .box .img-2{
	background-image: url("../images/big2.png");
}
.right-side-home .boxes .box .img-3{
	background-image: url("../images/big3.png");
	height: 60%;
}
.right-side-home .boxes .box .img-4{
	background-image: url("../images/big4.png");
	height: 60%;
}
.right-side-home .boxes .box .img-5{
	background-image: url("../images/big5.png");
	height: 60%;
}

/*MOBILE HOME*/
.mobile-home{
	display: none;
}
.mobile-home .box-shadow-home{
	-webkit-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.36);
	-moz-box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.36);
	box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.36);
	background-color: #EDEDED;
	padding: 15px 50px;
	margin-bottom: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: BebasNeueBold;
}
.box-shadow-home h2{
	font-size: 50px;
}
.mobile-home .bigger-home{
	width: 43px;
	height: 65px;
}
.mobile-home .smaller-home{
	width: 66px;
	height: 65px;
}
.box-shadow-home h2{
	margin: 0;
}

/*CONTACT MOBILE*/
.mobile-contact h1 span{
	padding: 10px;
	border-bottom: 2px solid #43AFE2;
	font-family: BebasNeueBold;
}
.mobile-contact .inner-contact{
	padding-top: 30px;
	font-family: BebasNeueBold;
}
.form-group div{
	padding-top: 15px;
	font-family: BebasNeueBold;
}
.mobile-contact button{
	background-color: #43AFE2;
	color: white;
}

.mobile-contact .contact-bottom{
	color:  #43AFE2;
}
.mobile-contact .contact-bottom i{
	border: 1px solid #43AFE2;
	padding: 4px;
	border-radius: 50%;
	margin-top: 20px;
}
.mobile-contact .contact-bottom i:hover{
	cursor: pointer;
}
@media screen and (min-width: 991px){
	.wrap-mobile-navbar{
		display: none !important;
	}
	.mobile-contact{
		display: none;
	}
}
@media screen and (max-width: 991px){
	.left-side-home{
		height: auto;
		padding-bottom: 30px;
		justify-content: flex-start;
	}
	.right-side-home{
		display: none;
	}
	.mobile-home{
		display: block;
	}
	.right-side-home{
	display: none !important;
	}

	.center-position{
		position: relative;
		display: block;
		top: 0;
		left: 0;
		transform: translate(0%,0%);
		/*transform: translate(0%);*/
	}
	body{
		background-color: white;
	}
	/*MOBILE NAVBAR*/
	.menu-desktop{
		display: none !important;
	}
	.mobile-navbar{
		display: block;
	}
	.navbar div a{
		justify-content: space-around;
	}
	.pd-bottom{
		margin-top: 20px;
		padding-bottom: 4vh;
	}
	.display-flex-menu h1{
    	font-size: 29px;
  	}
  	.navbar div a img{
    	width: 100px;
    	padding-top: 10px;
  	}

  	.box-shadow-home{
		display: none;
	}
}
@media screen and (max-width: 768px){
	.mobile-home .box-shadow-home{
		padding: 7px 30px;
	}
	.left-side-home h1{
		font-size: 40px;
	}
}

#box1-mobile{
	display: none;
}
#box2-mobile{
	display: none;
}
#box3-mobile{
	display: none;
}
#box4-mobile{
	display: none;
}
#box5-mobile{
	display: none;
}


