@font-face {
  font-family: BebasNeueBold;
  src: url("../fonts/BebasNeueBold.ttf");
}
@font-face {
  font-family: MontserratAlternates-Regular;
  src: url("../fonts/MontserratAlternates-Regular.ttf");
}

i{
  font-size: 14px;
  color: #43AFE2 !important;
}
body{
  background-image: url("../images/destop-background-new.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
body .navbar{
	border: 0px solid transparent;
  margin-bottom: 0px;
  font-family: BebasNeueBold;
  letter-spacing: 1px;
}
.navbar div a img{
	width: 130px;
  padding-top: 35px;
}
.navbar div a{
	font-size: 25px;
	display: flex;
	align-items: center;
  color: black;
  margin-top: 15px;
}
.hamburger-menu{
	display: inline-block;
}
.span-1,
.span-2,
.span-3{
	width: 18px;
	height: 2px;
	background-color: black;
	margin-right: 10px;
}
.span-2{
	margin-top: 4px;
	margin-bottom: 4px;
}
.menu{
	position: relative;
}
.menu ul{
	/*display: none;*/
}
.menu .menu-dropdown{
	height: 100vh;
	position: absolute;
	width: 100%;
	background-color: #1D1D1B;
	color: white;
	padding: 30px;
	z-index: 4;
}
.menu-show,
.menu-hide{
	cursor: pointer;
	transition: 0.3s;
  font-family: BebasNeueBold !important;
}


.menu .menu-dropdown{
	display: none;
}
.menu .menu-dropdown a{
	color: white;
}
.menu-hide{
	border: 2px solid transparent;
	padding: 7px;
  font-family: Arial;
  color: lightgray;
}
.menu-hide:hover{
	border: 2px solid #43AFE2;
}
.menu-inner div{
	display: inline-block;
	position: relative;
}
.menu .menu-dropdown ul{
	list-style: none;
}
.menu .menu-dropdown h1{
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	margin: 0;
}
.line-h1{
	transition: 0.9s;
	z-index: 1;
  left: 0;
}
.menu .menu-dropdown .menu-inner h1:hover ~ .line-h1{
	width: 100%;
	height: 3px;
	background-color: #43AFE2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.menu .menu-dropdown .menu-inner .line-h1:hover{
	width: 100%;
	height: 3px;
	background-color: #43AFE2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.pd-bottom{
	padding-left: 10px;
	padding-bottom: 13vh;
}


.contact{
	color:  #43AFE2;
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.contact i{
	border: 1px solid #43AFE2;
	padding: 4px;
	border-radius: 50%;
}
.contact i:hover{
	cursor: pointer;
}
.contact a{
  display: inline-block !important;
}

/*MOBILE NAVBAR*/
.wrap-mobile-navbar{
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 7;
  top: 0;
  display: none;
}
.mobile-navbar{
  background-color: black;
  height: 100%;
  opacity: 0.93;
  /*margin-top: 55px;*/
  z-index: 8;
}
.mobile-navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
}
.mobile-navbar ul li{
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
}
.mobile-navbar h1{
  margin: 0;
}


/*WRAP ABOUT US*/
.wrap-services h1 span{
	padding: 10px;
	border-bottom: 2px solid #43AFE2;
  font-family: BebasNeueBold;
}

/*MAIN SLIDER*/
.pd-top-service{
  padding-top: 25px;
}
.slick-dots{
  bottom: 3% !important;
}
.second-slider{
  display: none;
}
.slick-dotted.slick-slider{
  margin-bottom: 0 !important;
}
.box-shadow-service{
	-webkit-box-shadow: 0px 3px 21px -6px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 3px 21px -6px rgba(0,0,0,0.36);
  box-shadow: 0px 3px 21px -6px rgba(0,0,0,0.36);
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slider{
	height: 60vh;
}
.slider .text-services-even{
	background-color: white;
	height: 100%;
	color: black;
}
.slider .text-services{
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slider .text-services h4{
	padding-top: 20px;
  font-family: BebasNeueBold;
  font-size: 26px;
}
.slider img{
	position: absolute;
	width: 30%;
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
	transition: 0.5s;
}
.text-services p{
	position: absolute;
	padding: 0px 20px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: 0.5s;
  font-family: MontserratAlternates-Regular;
}
.text-services:hover p{
	opacity: 1;
}
.text-services:hover img{
	opacity: 0.3;
}
.slider.has-touch{
  padding-bottom: 50px;
  background-color: transparent;
}

.tablet-service-block img{
  width: 10%;
  margin: 0 auto;
  padding-top: 20px;
}
.tablet-service-block h4{
  font-family: BebasNeueBold;
}
.tablet-service-block .service-mobile-wrap p{
  font-family: MontserratAlternates-Regular;
}

/*CONTACT MOBILE*/
.mobile-contact h1 span{
  padding: 10px;
  border-bottom: 2px solid #43AFE2;
  font-family: BebasNeueBold;
}
.mobile-contact .inner-contact{
  padding-top: 30px;
  font-family: BebasNeueBold;
}
.form-group div{
  padding-top: 15px;
  font-family: BebasNeueBold;
}
.mobile-contact button{
  background-color: #43AFE2;
  color: white;
}

.mobile-contact .contact-bottom{
  color:  #43AFE2;
}
.mobile-contact .contact-bottom i{
  border: 1px solid #43AFE2;
  padding: 4px;
  border-radius: 50%;
  margin-top: 20px;
}
.mobile-contact .contact-bottom i:hover{
  cursor: pointer;
}
.mobile-contact{
    display: none;
  }
  .tablet-service-block{
    display: none;
  }

@media screen and (min-width: 991px){
  .wrap-mobile-navbar{
    display: none !important;
  }

}
@media screen and (max-width: 991px){
  /*MOBILE NAVBAR*/
  .tablet-service-block{
    display: block;
  }
  .mobile-contact{
    display: block;
  }
  .menu-desktop{
    display: none !important;
  }
  .mobile-navbar{
    display: block;
  }
  .navbar div a{
    justify-content: space-around;
  }
  .pd-bottom{
    margin-top: 20px;
    padding-bottom: 4vh;
  }
  .display-none-service{
    display: none;
  }
  .display-flex-menu h1{
    font-size: 29px;
  }
  .navbar div a img{
    width: 100px;
    padding-top: 10px;
  }
}

.your-class #center-color{
  background-color: #eaeaea !important;
}
.slick-prev:before, 
.slick-next:before{
  font-size: 28px !important;
  color: gray !important;
}
.slick-next{
  right: -30px !important;
}
.slick-prev{
  left: -40px !important
}