@font-face {
  font-family: BebasNeueBold;
  src: url("../fonts/BebasNeueBold.ttf");
}
@font-face {
  font-family: MontserratAlternates-Regular;
  src: url("../fonts/MontserratAlternates-Regular.ttf");
}

i{
	font-size: 14px;
  	color: #43AFE2 !important;
}
body{
	background-image: url("../images/destop-background-new.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	position: relative;
}
body .navbar{
	border: 0px solid transparent;
	margin-bottom: 0px;
	font-family: BebasNeueBold;
	letter-spacing: 1px;
}
.navbar div a img{
	width: 130px;
	padding-top: 35px;
}
.navbar div a{
	font-size: 25px;
	display: flex;
	align-items: center;
	color: black;
	margin-top: 15px;
}
.hamburger-menu{
	display: inline-block;
}
.span-1,
.span-2,
.span-3{
	width: 18px;
	height: 2px;
	background-color: black;
	margin-right: 10px;
}
.span-2{
	margin-top: 4px;
	margin-bottom: 4px;
}
.menu{
	position: relative;
}
.menu ul{
	/*display: none;*/
}
.menu .menu-dropdown{
	height: 100vh;
	position: absolute;
	width: 100%;
	background-color: #1D1D1B;
	color: white;
	padding: 30px;
	z-index: 1;
}
.menu-show,
.menu-hide{
	cursor: pointer;
	transition: 0.3s;
	font-family: BebasNeueBold !important;
}


.menu .menu-dropdown{
	display: none;
}
.menu .menu-dropdown a{
	color: white;
}
.menu-hide{
	border: 2px solid transparent;
	padding: 7px;
	font-family: Arial;
	color: lightgray;
}
.menu-hide:hover{
	border: 2px solid #43AFE2;
}
.menu-inner div{
	display: inline-block;
	position: relative;
}
.menu .menu-dropdown ul{
	list-style: none;
}
.menu .menu-dropdown h1{
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	margin: 0;
}
.line-h1{
	transition: 0.9s;
	z-index: 1;
	left: 0;
}
.menu .menu-dropdown .menu-inner h1:hover ~ .line-h1{
	width: 100%;
	height: 3px;
	background-color: #43AFE2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.menu .menu-dropdown .menu-inner .line-h1:hover{
	width: 100%;
	height: 3px;
	background-color: #43AFE2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.pd-bottom{
	padding-left: 10px;
	padding-bottom: 13vh;
}


.contact{
	color:  #43AFE2;
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.contact i{
	border: 1px solid #43AFE2;
	padding: 4px;
	border-radius: 50%;
}
.contact i:hover{
	cursor: pointer;
}
.contact a{
	display: inline-block !important;
}

/*MOBILE NAVBAR*/
.wrap-mobile-navbar{
	height: 100vh;
	position: fixed;
	width: 100%;
	z-index: 7;
	top: 0;
	display: none;
}
.mobile-navbar{
	background-color: black;
	height: 100%;
	opacity: 0.93;
	/*margin-top: 55px;*/
	z-index: 8;
}
.mobile-navbar ul{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	padding: 0;
}
.mobile-navbar ul li{
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
}
.mobile-navbar h1{
	margin: 0;
}


/*WRAP ABOUT US*/
.wrap-work h1 span{
	padding: 10px;
	border-bottom: 2px solid #43AFE2;
	font-family: BebasNeueBold;
}


/*WORK CATEGORY*/
.work-category{
	padding-top: 20px;
	font-family: BebasNeueBold;
	letter-spacing: 1px;
	display: flex;
	justify-content: space-between;
}
.filter-category{
	/*flex: 1;*/
}
.wrap-work .work-category span{
	cursor: pointer;
	font-size: 18px;
	border-bottom: 2px solid transparent;
	transition: 0.4s;
}
.image-work{
	cursor: pointer;
}
.wrap-work .work-category span:hover{
	border-bottom: 2px solid #43AFE2;
}
.wrap-work .work-category .active-category{
	color: #43AFE2;
}
/*MODAL*/
.wrap-work img{
	width: 100%;
}
#category-container .col-md-4{
	padding-top: 10px;
	padding-bottom: 10px;
}
.wrap-work .modal-content{
	position: relative;
}
.wrap-work .buttons{
	background-color: transparent;
	border-radius: 50%;
	color: white;
	font-size: 25px;
	padding: 2px 11px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.wrap-work .buttons:hover{
	background-color: gray;
}
.wrap-work .button-left{
	left: -50px;
}
.wrap-work .button-right{
	right: -50px;
}
.wrap-work .close-modal{
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    opacity: .8;
    background-color: transparent;
}
.wrap-work .close-modal:hover{
	background-color: #c92222;
}
.modal-content{
	height: 0vh;
}

.next,
.prev,
.indicator{
	display: block !important;
}
.blueimp-gallery>.indicator>li:hover:after{
	opacity: 0 !important;
}

/*CONTACT MOBILE*/
.mobile-contact{
	padding-top: 20px;
}
.mobile-contact h1 span{
	padding: 10px;
	border-bottom: 2px solid #43AFE2;
	font-family: BebasNeueBold;
}
.mobile-contact .inner-contact{
	padding-top: 30px;
	font-family: BebasNeueBold;
}
.form-group div{
	padding-top: 15px;
	font-family: BebasNeueBold;
}
.mobile-contact button{
	background-color: #43AFE2;
	color: white;
}

.mobile-contact .contact-bottom{
	color:  #43AFE2;
}
.mobile-contact .contact-bottom i{
	border: 1px solid #43AFE2;
	padding: 4px;
	border-radius: 50%;
	margin-top: 20px;
}
.mobile-contact .contact-bottom i:hover{
	cursor: pointer;
}
.blueimp-gallery>.slides>.slide>.slide-content{
	max-width: 70% !important;
	max-height: 70% !important;
}

@media screen and (min-width: 991px){
	.wrap-mobile-navbar{
		display: none !important;
	}
	.mobile-contact{
		display: none;
	}
}
@media screen and (max-width: 991px){
	/*MOBILE NAVBAR*/
	.menu-desktop{
		display: none !important;
	}
	.mobile-navbar{
		display: block;
	}
	.navbar div a{
		justify-content: space-around;
	}
	.pd-bottom{
		margin-top: 20px;
		padding-bottom: 4vh;
	}
	.display-flex-menu h1{
		font-size: 29px;
	}
	.navbar div a img{
		width: 100px;
		padding-top: 10px;
	}
}
@media screen and (max-width: 767px){
	.slick-slide.slick-current.slick-active div{
		margin: 0 auto;
	}
	.slick-dots{
		top: 0;
		height: 20px;
	}
	.slick-list.draggable{
		padding-top: 20px;
	}
}


.outer-div{
    overflow: hidden;
}
.inner-div{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.6s;
}
.inner-div:hover{
    transform: scale(1.06);
}
.row.pd-top-service.display-none-service div:focus{
	outline: 0;
}

.slick-prev:before, 
.slick-next:before{
	font-size: 28px !important;
	color: gray !important;
}
.fade-in{
	opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: 1.5s;
}
.fade-in.load {
    opacity: 1;
}